/*================================================================================
	Item Name: Robust - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.content-header{
    margin-top: 10px;
    background-color: #FFF;
    height: 63px;
    padding-left: 10px;
}

/*.content-header h1{*/
    /*margin-left: 27px;*/
    /*padding-top: 15px;*/
/*}*/

/*.card-group{*/
    /*width: 107%;*/
/*}*/

.content-header1{
    margin-right: -24px;
    margin-left: -24px;
    margin-top: -8px;
    background-color:#fff;
    height: 80px;
}
.content-header-title{
    margin-top: 8px;
    margin-left: 12px;
}
.card-dashboard-right{
    text-align: center;
}
.breadcrumb-top-dashboard{
    margin-top: 10px;
}
/*.breadcrumb-active-color{*/
    /*color: #49af35;*/
/*}*/
.btn-radius{
    border-radius: 5px !important;
    background-color: #49af35;
}
.btn-trash{
    border-radius: 5px !important;
    margin-left: 9px !important;
}

.info-box {
    display: block;
    min-height: 110px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 110px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.donutchart{
    width: 334px;
    height: 180px;
}